@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: lightslategray;

}
header > h1 {
    text-align: center;
}


menu  ul {
    list-style-type: none;

}
menu  li {
    background-color: rgb(56, 54, 54);
    color: white;
    display: inline-block;
    
    padding: 10px;
}
main {
    background-color: rgb(145, 150, 155);
}

article {
    background-color: white;
    width: 600px;
    padding: 10px;
    display: block;
    margin: auto;
}