@charset "UTF-8";

body {
    background-color: rgb(172, 231, 172);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(7, 49, 5);
}
#principal {
    text-align: center;
    background-color: rgb(117, 165, 117);
    color: white;
}
h2 {
    color: rgb(89, 109, 58);
    text-align: justify;

}
.basico {
    color: rgb(28, 54, 28);
}
.intermediario {
    color: rgb(11, 27, 8);
}
.avancado {
    color: rgb(139, 16, 16);
}
p {
    background-color: white;
    
    border-radius: 20px;
    padding: 10px;
    width: 900px;
}
.destaque {
    background-color: rgb(165, 165, 69);
}